!!! 5
-# paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
<!--[if lt IE 7]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7]>	  <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8]>	  <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if gt IE 8]><!-->
%html.no-js{ :lang => "en" }
	<!--<![endif]-->
	%head
		%meta{ :charset => "utf-8" }/
		
		-# Always force latest IE rendering engine (even in intranet) & Chrome Frame
		-# Remove this if you use the .htaccess
		-# %meta{ "http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1" }/
		
		%title 
			- page_title = config[:blog_title]
			- if current_page
				- if current_page.data.has_key? "title"
					- page_title = current_page.data["title"]
				- else
					
					- if !/index.html/.match(current_page.source_file)
						- page_title += " - "
					- if current_page.respond_to? :title
						- page_title +=  "#{current_page.title}"
					-elsif current_page.data.has_key? "title"
						- page_title +=  "#{current_page.data["title"]}"
					- elsif current_page.source_file =~ /#{blog.options[:tag_template]}/
						- page_title +=  "Articles Tagged \"#{tagname}\""
					- elsif current_page.source_file =~ /#{blog.options[:calendar_template]}/
						- page_title += "Archive for"
						- case page_type
							- when 'day'
								- page_title +=  Date.new(year, month, day).strftime('%b %e %Y')
							- when 'month'
								- page_title +=  Date.new(year, month, 1).strftime('%b %Y')
							- when 'year'
								- page_title +=  year.to_s
			= page_title
		- page_description = nil
		-if current_page.data.has_key? "description"
			- page_description = Haml::Filters::Markdown.render(current_page.data["description"])
		-elsif current_page.respond_to? :summary
			- page_description = current_page.summary
		-if not page_description.nil?
			- page_description = Nokogiri::HTML(page_description).text.gsub(/\'/,"\\'")
			%meta{ :name => "description", :content => "#{page_description}" }
		- page_image = image_path('me.png')
		- if current_page.respond_to? :body
			- nokogiri_img = Nokogiri::HTML(current_page.body).css('img.splash')
			- if nokogiri_img.length > 0
				- page_image = image_path(nokogiri_img.first.attribute "src")

		/ Open Graph Stuff
		%meta{ :name => "og:url", :content => "#{config[:site_deploy_root]}#{current_page.url}" }
		-if page_description.nil?
			- page_description = config[:blog_title]
		%meta{ :name => "og:description", :content=> page_description }
		%meta{ :name => "og:title", :content => page_title }
		%meta{ :name => "og:image", :content => "#{config[:site_deploy_root]}" + page_image }

		/ Twitter Card Stuff
		%meta{ :name => "twitter:card", :content => "summary_large_image" }
		%meta{ :name => "twitter:creator", :content => "@ShawnaRoss" }
		%meta{ :name => "twitter:description", :content=> page_description }
		%meta{ :name => "twitter:title", :content => page_title }
		%meta{ :name => "twitter:image:src", :content => "#{config[:site_deploy_root]}" + page_image }
		
		%link{ :href => url_for("blog/feed.xml"), :rel => "alternate", :type =>"application/atom+xml" }/
		%meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }/
		/ Code Highlighting
		= stylesheet_link_tag("pygments.css", :media => "all", :rel => "stylesheet" )
		/ Logos
		= stylesheet_link_tag("images.css", :media => "all", :rel => "stylesheet" )
		/ Fonts
		= stylesheet_link_tag("fonts/genericons/genericons.css", :media => "all", :rel => "stylesheet" )
		= stylesheet_link_tag("http://fonts.googleapis.com/css?family=Josefin+Sans:700,700italic|Oswald:700|Libre+Baskerville:400,700,400italic", :media => "all", :rel => "stylesheet" )
		/ Goldilocks Responsive Framework
		= stylesheet_link_tag("global.css", :media => "all", :rel => "stylesheet" )
		= stylesheet_link_tag("layout.css", :media => "all and (min-width: 800px)", :rel => "stylesheet" )
		
	%body
		%section
			= partial "nav"
			.content#blog
				.articles
					=partial "blog/article", :locals => { :short => false, :article => current_page, :index => nil }
		= partial "blog/javascript", :locals => { :short => false, :article => current_page, :index => nil }
		= partial "javascript"